
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zhengque:before { content: "\e600"; }
.icon-fanhui:before { content: "\e601"; }
.icon-caidan:before { content: "\e602"; }
.icon-shouyehome:before { content: "\e603"; }
.icon-wenhao:before { content: "\e604"; }
.icon-iconbianji:before { content: "\e605"; }
.icon-xingxing:before { content: "\e606"; }
.icon-stars:before { content: "\e607"; }
.icon-zengjia:before { content: "\e608"; }
.icon-fanhui1:before { content: "\e61b"; }
.icon-exportfuzhi:before { content: "\e617"; }
.icon-gonglve:before { content: "\e609"; }
.icon-iconfontcolor86:before { content: "\e60a"; }
.icon-huodong:before { content: "\e60b"; }
.icon-5:before { content: "\e60c"; }
.icon-xingxing1:before { content: "\e60d"; }
.icon-shijian:before { content: "\e60e"; }
.icon-shangcheng:before { content: "\e60f"; }
.icon-anniu:before { content: "\e610"; }
.icon-cuowu:before { content: "\e611"; }
.icon-tubiao1gaoxiaoxiaohua:before { content: "\e612"; }
.icon-daojishi:before { content: "\e618"; }
.icon-zhongzhi:before { content: "\e613"; }
.icon-kulian:before { content: "\e614"; }
.icon-icon065:before { content: "\e619"; }
.icon-tishi:before { content: "\e61a"; }
.icon-jianshao:before { content: "\e615"; }
.icon-gongxibaoxi:before { content: "\e616"; }
